/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
    /* шрифт */
    font-family: var(--font-inter, 'Arial', sans-serif);
    font-variation-settings: 'wght' var(--font-weight-text);
    font-size: 18px;
    display: flex;
  flex-direction: column; /* Для вертикального расположения элементов */
  align-items: center;
  background-image: var(--page-bg-image, none);
  background-attachment: fixed;
  background-size: cover;

  }
  .header {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 20px;
  }
  .header_section {
    margin-block: 100px;
    border: var(--border, 2px solid black);
    font-family: var(--font-accent-2P, 'Courier New', monospace);
    text-transform: uppercase;
    background-color: var(--bg-color, white);
    padding-block: var(--padding-block-header);
    inline-size: var(--section-inline, clamp(320px, 100%, 700px));

  }
  .header__heading {
    font-size: var(--header-size-title, clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));

  }
  .header__text {
    font-size: var(--header-size-text, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
  }
  .main__card-list {
    display: flex;
  flex-direction: column; /* Для вертикального расположения элементов */
  align-items: center;
  gap: 50px;
  }
  .card {
    border: var(--border, 2px solid black);
    background-color: var(--bg-color, white);
    max-inline-size: var(--section-inline, clamp(320px, 100%, 700px));
    
  }
  .article {
  }
  .article__header {
    padding: 3px 10px;

  }
  .article__title {
    font-variation-settings: "wght" var(--font-weight-heading, 700);
    font-size: 18px;
    line-height: 21.78px;
  }
  .article__image {
    display: block;
  width: 100%; /* Делаем изображение по ширине блока */
  height: auto; /* Автоматическая высота */
  object-fit: cover; /* Обтягивание изображения контейнера */
  object-position: center; /* Центрирование изображения внутри контейнера */
  margin: 0;
  position: relative;
  
  }
  .article__image-label {
    position: absolute;
    top: clamp(27px, 5vw, 25px); /* адаптивный отступ сверху */
  right: clamp(25px, 5vw, 13px);
    font-family: var(--font-accent-2P, 'Courier New', monospace);
    font-size: 14px;
    text-shadow: 0 0 1px var(--color-accent, white);
    -webkit-text-stroke: 1px var(--color-accent, white);
    mix-blend-mode: hard-light;
    z-index: 1;
    opacity: 0.5;
    text-transform: uppercase;
 
  }
  @supports (-webkit-text-stroke: 1px var(--color-accent)) {
    .article__image-label {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--color-accent, white);
      }
    }

  .image {
    inline-size: 100%;
    block-size: 100%;
    border-block: var(--border, 2px solid black);
    aspect-ratio: 1 / 1;

  }
  .filter_brightness {
    filter: brightness(120%);
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
    .filter_multi {
      filter: blur(1px) saturate(226%) hue-rotate(30deg);
  }
  .filter-rotate {
    filter: hue-rotate(90deg);
  }
  .filter-saturate {
 filter: saturate(180%);   
  }
  .filter-contrast {
 filter: contrast(150%);   
  }
  .filter_sepia {
    filter: sepia(0.5);
  }
  .card__caption {
  }
  .article__content {
    display: flex;
    gap: 27px;
    margin: 25px;
    flex-direction: column;
  }
  .article__text {
    line-height: 21px;

  }
  .article__footer {
    display: flex;
    justify-content: end;
    align-items: stretch;
    gap: 12px;
    margin: 0 25px 25px 0;

  }
  .card__like-button {
  background: none;
  border: none;
  padding: 0;
  }

  .like-icon {
    margin-block: 9px 5px;
  }
  .card__icon-button {
   inline-size: 130px;
    block-size: 38px; 
  }
  .card__icon-button:focus {
    outline: none;
  }
  
  .card__icon-button:focus-visible {
    border: var(--border, 2px solid black);
    
  }

  .card__icon {
  }
  .button {
    background-color: var(--bg-color-button, white);
    border: var(--border, 2px solid black);
    cursor: pointer;
    transition: 0.3s ease;
  }
  .button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-accent-shadow, #000);
    transition: 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  .button:hover:after {
    transform: scaleX(1);
  }
  .button__text {
    font-family: var(--font-accent-2P, 'Courier New', monospace);
    font-size: 14px;
    transition: 0.3s ease;
    position: relative;
  z-index: 10;
  text-align: center;
  color: var(--color-accent-button, white);
  mix-blend-mode: difference;
  }
  .button__svg {
    block-size: calc(28px - 7 * ((100vw - 375px) / (1440 - 375)));
inline-size: calc(28px - 7 * ((100vw - 375px) / (1440 - 375)));
position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-accent-button, white);
  
  }
  .button__save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* Высота окна */
    block-size: clamp(55px, (84px - ((84 - 55) * ((100vw - 375px) / (1440 - 375)))), 84px);

    /* Ширина окна */
    inline-size: clamp(310px, (310px + ((339 - 310) * ((100vw - 375px) / (1440 - 375)))), 339px);

@media (width <= 500px) {
  flex-direction: column;
}
  }
  .footer {
    padding-block: 50px 103px;
  }
  dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
  }
  .modal {
    font-family: var(--font-accent-2P, 'Courier New', monospace);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

  }
  .modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-block: clamp(1.25rem, -2.3864rem + 18.1818vw, 1.875rem);
  padding-inline: 30px;
  max-inline-size: 355px;

  @media (width <= 500px) {
  padding-inline: 40px;
  }
}
  .info-modal {
    display: flex;
    justify-items: center;
    gap: 20px;
  }
  .info-modal svg {
    flex-shrink: 0;
    inline-size: 39px;
    block-size: 39px;
    margin-block: 12px;
  
  }
  .modal__button-ok {
    width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
    height: 38px;
  }
  .modal__text {
  }

  .button:focus {
    outline: none;
  
  }
  
  .button:focus-visible {
    box-shadow: 2px 2px 0 var(--color-accent-shadow, black);
  }